<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/footer.css">
</head>
<body>
    <footer id="footer">
        <div class="footer-box">
            <div class="frqasked">
                <h3>Frequently Asked Questions</h3>
                <div>How can I join RnA Club?</div>
                <div>What are the pre-requisites?</div>
                <div>How frequently sessions are held?</div>
                <div>What are the achevements?</div>
                <div>What are the divisions in RnA?</div>
            </div>
            <div class="social">
                <h3>Social Media Handles</h3>
                <div class="scls">
                    <a href="" target="_blank"><img src="/linkedin3d.png"></a>
                    <a href="https://www.instagram.com/rna.iitp" target="_blank"><img src="/instagram3d.png"></a>
                    <a href="" target="_blank"><img src="/discord3d.png"></a>
                    <a href="" target="_blank"><img src="/gmaillogo.png"></a>
                </div>
                <div><p><span style=" color: #e3d88f;">Designed By</span> Shuchi Saxena</p></div>
                <div><span style=" color: #e3d88f;">Developed By</span> Aditya Yadav, Ankit, Laxmi, Sabnoor</div>
            </div>
            <div class="location"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7200.075946145261!2d84.850711!3d25.537112!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x398d57cd6774ae8d%3A0xa16559e0032a8d4!2sStudent%20Activity%20Centre%20(SAC)!5e0!3m2!1sen!2sin!4v1704377396909!5m2!1sen!2sin" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        </div>
    </footer>
    <footer class="lowest-f"> <p>© Copyright Reserved By Robotics and Aviation Club,IIT Patna</p> </footer>
</body>
</html>