<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="navbar-sec" style="z-index: 100;">
        <nav id="navbar">
            <div id="logo">
                <img src="/rna_logo.png" alt="RnA">
                <div class="name">
                    <h2>ROBOTICS & AVIATION CLUB</h2>
                    <h3>Indian Institute of Technology Patna(IITP)</h3>
                </div>
            </div>
            <div class="menu non-phone">
                <ul>
                    <li class="item"><a href="/">Home</a></li>
                    <li class="item"><a href="/projects">Projects</a></li>
                    <li class="item"><a href="/resources">Resources</a></li>
                    <li class="item"><a href="/team">The Team</a></li>
                    <li class="item"><a href="/aboutUs">About Us</a></li>
                </ul>
            </div>
        </nav>
        <nav id="option" class="phone">
            <input type="checkbox" id="check" class="phone">
            <div class="btn_menu" class="phone">
                <label for="check">
                    <i class='bx bx-menu'></i>
                </label>
            </div>
            <div class="menu">
                <div class="btn_menu_close phone">
                    <label for="check">
                        <i class='bx bx-x'></i>
                    </label>
                </div>
                <ul>
                    <li class="item"><a href="/">Home</a></li>
                    <li class="item"><a href="/projects">Projects</a></li>
                    <li class="item"><a href="/resources">Resources</a></li>
                    <li class="item"><a href="/team">The Team</a></li>
                    <li class="item"><a href="/aboutUs">About Us</a></li>
                </ul>
            </div>
        </nav>
    </div>
</body>
</html>