@font-face {
    font-family: Beyonders;
    src: url(/Beyonders.otf);
}

@font-face {
    font-family: Montserrat;
    src: url(/Montserrat-SemiBold.otf);
}

@font-face {
    font-family: MontserratItalic;
    src: url(/Montserrat-SemiBoldItalic.otf);
}

@font-face {
    font-family: Montserratregular;
    src: url(/Montserrat-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s;
}

.events {
    background-color: rgb(45, 48, 39);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px 40px 5px;
    width: 100vw;
    z-index: -1;
}

 .events .head {
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: bold;
    font-family: Montserrat;
    margin: 20px;
}

.events .upcoming {
    width: 90%;
    max-width: 1200px;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    color: black;
    font-family: Montserrat;
    display: flex;
    align-items: center;
}

.events .upcoming .p1 {
    padding-right: 10px;
    padding: 8px 18px 8px 3px;
    font-size: 1.4em;
    font-weight: bold;
}

.events .upcoming .p2 {
    border-left: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 14px;
    font-weight: 600;
}

@media (max-width:361px) {
    .events .upcoming {
        flex-wrap: wrap;
        padding-top: 0px;
    }

}

@media(max-width:550px) {
    .events .upcoming .p3 {
        display: none;
    }
}

.events .upcoming .p3 {
    margin-left: auto;
}

.events .upcoming .p3 img {
    margin: 5px;
    width: 130px;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
}

.events .event {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #fff;
    margin: 10px;
}

.events .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.events .event .imge {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.events .event img {
    width: 150px;
    height: 150px;
    margin: 15px 10px;
    border-radius: 2px;
    object-fit: cover;
    box-shadow: 0 0 9px 2px rgba(0, 0, 0, .65);
}

.events .event .heading {
    padding: 10px 0px;
    font-size: 20px;
    font-family: Montserrat;
}

.events .event .list {
    padding-left: 27px;
    width: 190px;
    font-weight: 400;
    font-size: 14px;
    font-family: Montserratregular;
}


.events .event .date {
    padding-top: 15px;
    padding-left: 8px;
    color: rgba(255, 0, 0, 0.6);
    font-family: Montserrat;
    margin-bottom: 5px;
}

.events .event .details {
    display: inline;
    font-family: Montserratregular;
    color: rgb(143, 143, 236);
    font-weight: 800;
    font-size: 13px;
    border-radius: 3px;
    padding: 2px;
    margin-top: 2px;
    background-color: rgba(245, 142, 159,.2);
    cursor: pointer;
}
.events .event .details:hover{
    background-color: rgba(195, 151, 242, 0.2);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);

}
@media (max-width:389px) {
    .events .event {
        flex-direction: column;
    }
} 

.full-details {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    display:none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    perspective: 1000px;
    /* transition: 1s; */
}
.full-details span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 28px;
    cursor: pointer;
    color: #fff;
}
.detailmain{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(45, 48, 39,.8); */
}
.detailmain .card{
    background: white;
    border-radius: 5px;
    max-width: 600px;
    height: 500px;
    margin: 10px;
    overflow-y: scroll;
    transform-style: preserve-3d;
    animation: detailanimation .5s linear;
}
@keyframes detailanimation{
    0%{
        transform:  translateX(calc(-50% )) rotate(40deg) skew(-20deg, -10deg) scale(0.01);
    }
    100%{
        transform:  translateY(0%) rotate(0deg) skew(0deg, 0deg) scale(1);
    }
}
.detailmain .card::-webkit-scrollbar{
    display: none;
}
.detailmain .card .content{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    color: #333;
    /* animation-delay: 2s; */
    animation: contentanime 1s linear;
}
.detailmain .card .content p{
    text-align: left;
}
@keyframes contentanime{
    0%{
        opacity: 0;
        transform: translateY(70px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.detailmain .imges{
    display: flex;
    min-width: 210px;
    max-height: 500px;
    flex-direction: column;
    overflow: hidden;
    border: 2px solid #fff;
    border-radius: 4px;
    /* animation-delay: 2s; */
    animation: galanimation .7s linear;
}
@keyframes galanimation{
    0%{
        transform: translateX(500px);
    }
    100%{
        transform: translateX(0px);
    }
}
.detailmain .imges:hover{
    overflow-y: scroll;
    
}
@media(max-width:750px){
    .detailmain {
        flex-direction: column;
    }
    .detailmain .imges{
        flex-direction: row;
        max-width: 90%;
        align-items: center;
    }
    .detailmain .imges:hover{
        overflow-x: scroll;
    }
}
.detailmain .imges::-webkit-scrollbar{
    display: none;
}
.detailmain .imges h2{
    width: 100%;
    text-align: center;
}
.detailmain .imges img{
    width: 200px;
    height: 140px;
    margin: 5px auto;
    border-radius: 2px;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 0 0 9px 2px rgba(0, 0, 0, .65);
}